p {
    text-align: justify;
}
.container {
    display: block;
    float: center;
    overflow: hidden;
    background: #34495e;
}
.block .container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: none;
    margin: 0 auto;
    width: 96%
}
#trigger {
    font-size: 1.5em;
}
.center {
    margin: -2.3em auto;
    /*padding: 2em;*/
    background: rgba(0, 0, 0, 0.01);
    text-align: center !important;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
#maps {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 3em;
    height: 0;
    overflow: hidden;
}
#maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
iframe {
    display: block;
    margin: 0 auto;
}
h1 {
    margin: 0 auto;
    font-weight: 300;
    font-size: 4.625em;
    line-height: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
h2 {
    margin: 0 auto;
    font-weight: 300;
    font-size: 2.625em;
    line-height: 1.2em;
    padding-top: 1em;
    padding-bottom: 2em;
}
h1 span {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 30%;
    opacity: 0.7;
}
footer {
    margin-bottom: 0;
    padding-top: 4em;
    padding-left: 4em;
}
footer a {} #slider1_container {
    margin: 0 auto;
    padding-top: 1em;
}



#galleria{height: 40em; width: auto;}
#galleria img {
    display: none;
}
/*
#slides {
    display: none;
    padding-left: 1em;
    padding-right: 1em;
}



#slides .slidesjs-navigation {
      margin: 0 auto;
    }
/* For tablets & smart phones 

@media (max-width: 767px) {
    /*body {
        padding-left: 20px;
        padding-right: 20px;
      }
    .container {
        width: auto
    }
}
/* For smartphones 
@media (max-width: 480px) {
    .container {
        width: auto
    }
}
/* For smaller displays like laptops 

@media (min-width: 768px) and (max-width: 979px) {
    .container {
        width: auto
    }
}
/* For larger displays 

@media (min-width: 1200px) {
    .container {
        width: auto;
    }
}*/