p {
    text-align: justify;
}
.container {
    display: block;
    float: center;
    overflow: hidden;
    background: #34495e;
}
.block .container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: none;
    margin: 0 auto;
    width: 96%
}
#trigger {
    font-size: 1.5em;
}
.center {
    margin: -2em auto;
    /*padding: 2em;*/
    background: rgba(0, 0, 0, 0.01);
    text-align: center !important;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.center p {
    margin-top: -1em;
    text-align: center !important;
}
iframe {
    display: block;
    margin: 0 auto;
}
h1 {
    margin: 0 auto;
    font-weight: 300;
    font-size: 4.625em;
    line-height: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
h2 {
    margin: 0 auto;
    font-weight: 300;
    font-size: 2.125em;
    line-height: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
h1 span {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 30%;
    opacity: 0.7;
}
footer {
    margin-bottom: 0;
    padding-top: 4em;
    padding-left: 4em;
}
footer a { 
}
#galleria {
    height: 39em;
    width: auto;
}
#galleria img {
    display: none;
}
body *> .container ul li {
    margin: -10px;
}
#containermaps {
    margin-top: 3em;
}
h3 {
    margin: 0 auto;
    font-weight: 300;
    font-size: 2.625em;
    line-height: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.block *> p span {
    float: right;
}
h4 {
    margin: 0 auto;
    font-weight: 300;
    font-size: 2.625em;
    line-height: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.block *> ul li {
    padding-bottom: 1em;
}
.block *> ul li:last-child {
    padding-bottom: 3em;
}
.mp-menu h2 {
    color: #59cccc;
}
.block *> ul li ul {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
}
details {
    display: none !important;
}
@media screen and (max-height: 720px) {
    .mp-menu ul li > a {
        padding: 0.4em 1em 0.4em 1.8em;
    }
    .mp-menu h2 {
        padding: 0.5em;
    }
    #galleria {
        height: 20em;
    }
    h2 {
        line-height: 1em;
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
    h1 {
        font-size: 3.625em;
        line-height: 0.9;
    }
    body *> .container ul li {
        margin: -15px;
    }

    .block {
        padding: 0.5em;
    }
}
@media screen and (max-height: 400px) {
    .mp-menu ul li > a {
        padding: 0.1em 1em 0.1em 1.8em;
    }
    .mp-menu h2 {
        padding: 0.2em;
    }
    #galleria {
        height: 10em;
    }
    h1 {
        font-size: 2.625em;
        line-height: 0.8;
    }
    .block p {
        margin: 0;
        font-size: 1.2em;
        line-height: 0.8;
    }
    .block {
        padding: 0.3em;
    }
    body *> .container ul li {
        margin: -20px;
    }
}